.hero {
  background: url("./assets/pexels-gustavo-fring-7156128.jpg");
  object-fit: cover;
  background-size: cover;
}
.about1 {
  background: url("./assets/pexels-gustavo-fring-7156128.jpg");
  object-fit: cover;
  background-size: cover;
}
